/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
  display: inline-block;
  padding: .75rem 1.125rem;
  margin: 0;
	font-family: 'Eurostile', sans-serif;
  font-size: 16px;
	font-weight: 700;
  color: var(--Black);
	text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  cursor: pointer;
  background-color: var(--BlueLight);
  border: none;
	letter-spacing: 1px;
  transition: all 0.35s linear;

  &:hover,
  &:focus {
		text-decoration: none;
    background-color: var(--Blue);
		color: var(--White);
  }

	&.is-red {
		background-color: var(--Red);
		color: var(--White);

		&:hover,
		&:focus {
			background-color: var(--RedDark);
		}
	}

	&.is-ghost {
		background-color: transparent;
		color: var(--White);
		border: 1px solid var(--White);

		&:hover,
		&:focus {
			background-color: var(--White);
			color: var(--Black);
		}
	}
}
