/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  LISTS
\*---------------------------------------*/
.gform_wrapper {
	background-color: var(--GreyDark);
	padding: 2.5em;

	& .gform_heading {
		& h3 {
			color: var(--White);
			margin: 0;
		}
	}
}

#gform_wrapper_0 {
  display: none;
}

form {
  & ul.gform_fields {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    & > li {
      position: relative;
      margin: 2em 0;
			padding-left: 0;
			background-image: none;
    }
  }
}

.gform_footer {
	& button {
		background-color: var(--Red);
		color: var(--White);

		&:hover,
		&:focus {
			background-color: var(--RedDark);
		}
	}
}

/*---------------------------------------*\
  LABELS
\*---------------------------------------*/
form label {
  margin-bottom: var(--xSmall);
	font-family: 'Eurostile', sans-serif;
  font-size: 16px;
	font-weight: 500;
  color: var(--White);
	letter-spacing: 1px;

  & span.gfield_required {
    display: none;
  }
}

ul.gform_fields > li:not(.gfield_contains_required) > label:not(.file-upload-label) {
  &::after {
    display: inline-block;
    margin-left: 0.35em;
    font-size: 0.875em;
    content: '(optional)';
  }
}

.gfield_description,
.ginput_counter,
.screen-reader-text {
  font-size: 0.875em;
	color: var(--White);

	& a {
    color: var(--BlueLight);
	}
}

.hidden_label > label {
  display: none;
}

/*---------------------------------------*\
  INPUTS
\*---------------------------------------*/
input {
  width: 100%;
  padding: .75em 2em .75em 0;
	font-family: 'Montserrat', sans-serif;
  box-shadow: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--White);
	font-size: 16px;
	color: var(--White);
	letter-spacing: 1px;

	&::placeholder {
		color: var(--White);
		font-weight: 300;
		opacity: 1;
	}
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
  width: 100%;
  padding: .75em 2em .75em 0;
	font-family: 'Montserrat', sans-serif;
  border: 1px solid;
  box-shadow: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--White);
	font-size: 16px;
	color: var(--White);
	letter-spacing: 1px;

	& ~ .charleft {
		color: var(--White);
	}

	&::placeholder {
		color: var(--White);
		font-weight: 300;
		opacity: 1;
	}
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
  width: 100%;
  padding: .75em 2em .75em 0;
	font-family: 'Montserrat', sans-serif;
  box-shadow: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--White);
	font-size: 16px;
	color: var(--White);
	letter-spacing: 1px;
	appearance: none;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 2em;

  &.has-placeholder {
		color: var(--White);
  }
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
  padding: 0.5em 0;
  margin: 0;

  & li {
		display: block;
		margin: 0 1em 1em 0;
		background-image: none;
		padding-left: 0;

		& label {
			margin-left: 0.5em;
			padding-left: 0;
			position: relative;
			top: -2px;
			font-weight: normal;
			font-size: 16px;
		}

		& input[type="radio"] {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			margin: 0 .25em -6px .5em;
			vertical-align: baseline;
			appearance: none;
			background-color: transparent;
			border: 1px solid var(--White);
			position: relative;

			&:checked {
				background-color: transparent;

				&:after {
					content: '';
					position: absolute;
					background-image: none;
					background-color: var(--White);
					width: 14px;
					height: 14px;
					border-radius: 25px;
					top: 4px;
					left: 4px;
				}
			}
		}
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
	margin: 0;
	padding: .5em 0;

	& li {
		display: block;
		margin: 0 1em 1em 0;
		background-image: none;
		padding-left: 0;

		& label {
			margin-left: 0.5em;
			padding-left: 0;
			position: relative;
			top: -2px;
			font-weight: normal;
			font-size: 16px;
		}

		& input[type="checkbox"] {
			width: 24px;
			height: 24px;
			border: 1px solid var(--White);
			margin: 0 .25em -6px .5em;
			vertical-align: baseline;
			appearance: none;
			background-color: transparent;
			position: relative;

			&:checked {
				background-color: var(--White);
				border-color: var(--White);

				&:after {
					content: '';
					position: absolute;
					background-image: url('../images/checkmark.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: 16px;
					width: 16px;
					height: 16px;
					top: 3px;
					left: 3px;
				}
			}
		}
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

li:not(.gfield_contains_required) > label.file-upload-label {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 0.875em;
    text-transform: lowercase;
    content: '(optional)';
    transform: translateX(calc(100% + 4px));
  }
}

label.file-upload-label::after {
  display: table;
  padding: var(--Small) var(--Large);
  margin: 1em 0;
  margin-bottom: 2em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  content: 'Upload File';
  background-color: var(--Grey);
  border: none;
  appearance: none;
}

label.file-upload-label.file-uploaded::after {
  content: 'Change File';
}

input[type="file"] {
  display: none;
  opacity: 0;

  & + span {
    position: absolute;
    top: 55px;
    left: 170px;
  }
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
  margin-top: 0.35em;

  & input {
    width: auto;
  }

  & label {
    position: relative;
    top: -1px;
    text-transform: none;
  }
}

/*---------------------------------------*\
  INVALID
\*---------------------------------------*/
li.gfield_error {
  & input {
		border-bottom: 2px solid #FA2F48;
		background-image: url(../images/input_error.svg);
		background-repeat: no-repeat;
		background-position: center right;
		background-size: 2em;
  }

	& textarea {
		border-bottom: 2px solid #FA2F48;
		background-image: url(../images/input_error.svg);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 2em;
  }

  & .validation_message {
    color: #FA2F48;
  }
}
