/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat-v14-latin-300.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/montserrat-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat-v14-latin-300italic.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-italic.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Eurostile', sans-serif;
  font-style: oblique;
  font-weight: 400;
  src: url('../fonts/eurostile-regular-oblique.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/eurostile-regular-oblique.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Eurostile', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eurostile-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/eurostile-medium.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Eurostile', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/eurostile-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/eurostile-bold.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

@font-face {
  font-family: 'Eurostile', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/eurostile-heavy.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/eurostile-heavy.woff') format('woff'); /* Modern Browsers */
	font-display: swap;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-family: 'Eurostile', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--GreyDark);
	line-height: 1.2;
}

h1 {
	font-weight: 900;
	font-size: 50px;

	@media(--phone) {
		font-size: 60px;
  }
}

h2 {
	font-size: 35px;

	@media(--phone) {
		font-size: 45px;
  }
}

h3 {
	font-size: 30px;
	letter-spacing: 1px;
}

h4 {
	font-size: 20px;
	letter-spacing: 1px;
}

h5 {
	font-size: 18px;
	margin-bottom: 2em;
}

h6 {
	font-size: 18px;
	text-transform: none;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.87;
	color: var(--Black);

	& .search-term {
    font-weight: 700;
	}
}

a {
	color: var(--BlueLight);
	text-decoration: none;
	transition: all 0.35s linear;

	&:hover,
	&:focus {
		color: var(--Blue);
		text-decoration: underline;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--xLarge) auto;
	background-image: url('../images/hr.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	max-width: 173px;
	height: 9px;
	border: none;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 800px;
	padding: var(--Medium);
	color: var(--GreyDark);
	font-size: 1.625em;
	font-style: oblique;
	letter-spacing: 1px;
	line-height: 1.23;

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: inherit;
		font-size: inherit;
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}