/*-----------------------------------*\
	DISPLAY RELATED POSTS VIA ACF RELATIONSHIP
\*-----------------------------------*/
aside.acf-related-posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto;
	padding: 4em 0 10em;

	& .standard {
		width: 100%;
		overflow: hidden;
	}

	& h3 {
		color: var(--White);
		width: fit-content;
		padding-right: 1em;
		position: relative;

		&:before {
			content: '';
			width: 1440px;
			height: 2px;
			background-color: var(--GreyLight);
			position: absolute;
			top: 50%;
			right: -1440px;
			transform: translateY(-50%);
		}
	}

	&>article {
		width: auto;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}
}