/*-----------------------------------*\
	FEATURED CARDS
\*-----------------------------------*/
section.featured-cards {
	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& article {
			width: 100%;
			position: relative;
			padding-bottom: 3em;
			margin-bottom: 3em;

			@media(--tablet) {
				width: 30%;
				margin-bottom: 0;
			}

			&:hover,
			&:focus {
				& p {
					&:before {
						width: 100%;
					}
				}

				& a.button {
					background-color: var(--White);
					color: var(--Black);
				}
			}

			& h3 {
				color: var(--White);
			}

			& p {
				color: var(--White);
				padding-top: 1em;
				transition: .35s all linear;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 2px;
					background-color: var(--BlueLight);
					transition: .25s all linear;
				}
			}

			& a.button {
				position: absolute;
				bottom: 0;
				top: inherit;
				left: inherit;
				right: inherit;
				z-index: 1;
			}

			& a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 2;
			}
		}

		&>p {
			color: var(--White);
			position: relative;

			&:before {
				content: url('../images/ameriti-logo-white.svg');
				position: absolute;
				top: -4em;
				left: 50%;
				width: 108px;
				height: 30px;
				transform: translateX(-50%);
			}
		}

		&.eagle-top {
			padding: 8em 0 5em;
		}
	}
}