/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--GreyDark);
	background-image: url('../images/ameriti-logo.svg');
	background-position: 150% 20%;
	background-repeat: no-repeat;
	background-size: 470px;

	@media(--tablet) {
		background-position: 120% 45%;
	}

	@media(--desktop) {
		background-position: 110% 60%;
		background-size: 720px;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		padding: 1.875rem 2.5rem;
		max-width: 1440px;
		margin: 0 auto;

		@media(--tablet) {
			padding: 3.125rem 3.75rem;
		}

		&>div {
			width: 20%;

			@media(--tablet) {
				box-sizing: inherit;
			}

			&:first-of-type {
				order: 4;
				width: 100%;
				text-align: center;

				@media(--desktop) {
					order: inherit;
					width: 20%;
					text-align: inherit;
				}

				&>a {
					display: block;

					&.button {
						display: inline-block;
					}
				}
			}

			&.menu-footer-navigation-container,
			&.menu-footer-navigation-2-container,
			&.menu-footer-navigation-3-container {
				width: 50%;

				@media(--tablet) {
					width: 33%;
				}

				@media(--desktop) {
					width: 20%;
				}
			}

			&.menu-footer-navigation-3-container {
				width: 100%;

				@media(--tablet) {
					width: 33%;
				}

				@media(--desktop) {
					width: 25%;
				}
			}

			&>a {
				& img {
					width: 169px;
				}

				&.button {
					margin-top: 1em;

					@media(--desktop) {
						margin-top: 1.875em;
					}
				}
			}

			& ul {
				padding-left: 0;
				margin: 0;

				& li {
					background-image: none;
					padding-left: 0;
					margin: 10px 0;

					& a {
						color: var(--White);
						font-family: 'Eurostile', sans-serif;
						font-size: 16px;
						font-weight: 700;
						letter-spacing: 1.78px;
						line-height: 1.5;
						text-transform: uppercase;
						text-decoration: none;

						&:hover,
						&:focus {
							color: var(--BlueLight);
							text-decoration: underline;
						}
					}
				}
			}

			&.social-links {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: flex-start;
				order: 5;
				width: 100%;
				margin-top: 1em;

				@media(--desktop) {
					width: 15%;
					margin-top: inherit;
				}

				& a {
					margin: 16px 15px;

					&:first-of-type {

						@media(--desktop) {
							margin-left: 0;
						}
					}
				}

				& svg {
					width: 20px;
					height: 20px;
					fill: var(--White);

					&:hover,
					&:focus {
						fill: var(--BlueLight);
					}
				}
			}
		}

		&.copyright {
			padding: 0 1.875rem 4rem;
			display: block;

			@media(--tablet) {
				padding: 0 3.75rem 1.25rem;
			}

			& a {
				color: var(--BlueLight);
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1px;
				line-height: 2.33;
				transition: none;

				&:hover,
				&:focus {
					color: var(--White);
					text-decoration: underline;
				}
			}

			& p {
				color: var(--White);
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 2.33;
				margin: 0;
			}
		}
	}
}