/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	min-height: 640px;
	background-image: linear-gradient(325.53deg, var(--Grey) 0%, var(--GreyDark) 100%);
	padding: 132px 0 68px;

	&>div {
		max-width: 1440px;
		width: 100%;
		padding: 1.5em 1em;
		margin: 0 auto;

		&:before {
			content: url('../images/ameriti-logo.svg');
			position: absolute;
			top: 50%;
			left: 0;
			width: 718px;
			height: 200px;
			transform: translate(-5%, -50%);
			display: none;

			@media(--tablet) {
				display: block;
			}
		}

		& h1 {
			margin: 0;
			color: var(--White);
			z-index: 5;
			max-width: 450px;
			position: relative;
			padding-left: 1em;
			padding-top: 3em;
			font-size: 50px;

			@media(--tablet) {
				max-width: 860px;
				padding-left: 2em;
				padding-top: inherit;
				font-size: 60px;
			}
		}

		& h2 {
			padding-left: 50px;
			margin: 0;
			color: var(--BlueLight);
			position: relative;
			z-index: 5;

			@media(--tablet) {
				padding-left: 120px;
			}
		}

		& img {
			object-fit: cover;
			max-width: 860px;
			width: 90%;
			height: 340px;
			position: absolute;
			top: 132px;
			right: 0;
			z-index: 2;

			@media(--tablet) {
				width: 60%;
				height: 440px;
			}
		}

		& .overlay {
			max-width: 860px;
			width: 90%;
			height: 340px;
			position: absolute;
			top: 132px;
			right: 0;
			z-index: 3;
			background-color: var(--Black);
			opacity: 0.3;

			@media(--tablet) {
				width: 60%;
				height: 440px;
			}
		}
	}
}
/*-----------------------------------*\
	CONTACT HEADER
\*-----------------------------------*/
body.page-template-contact {
	& header.post-head > div h1 {
		padding-top: 0;

		@media(--tablet) {
			max-width: 430px;
		}

		@media(--laptop) {
			padding-top: 3em;
		}

		&:before {
			transform: translate(-50%,-50%);
		}
	}

	& header.post-head > div .gform_wrapper {
		max-width: 430px;
		width: 100%;
		height: auto;
		position: inherit;
		top: 25%;
		left: 50%;
		margin: 4em auto 2em;

		@media(--laptop) {
			position: absolute;
			margin: inherit;
		}

		& textarea {
			height: 100px;
		}

		& .gform_validation_container {
			display: none;
		}
	}
}