/*-----------------------------------*\
	ANCHOR
\*-----------------------------------*/
section.anchor {
	position: relative;

	&:before {
		content: '';
		width: 100%;
		height: 2px;
		background-color: var(--GreyLight);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: -1;
	}

	& h3 {
		background-color: var(--White);
		width: fit-content;
		padding-right: 1em;
	}
}