/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {

	&.cover-cards {
		justify-content: flex-start;
		margin-bottom: -4rem;
	}

  & .card {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: var(--xLarge);

		@media(--phone) {
			padding: var(--Medium);
			margin-bottom: var(--Medium);
		}

		@media(--tablet) {
			padding: var(--Large);
		}

    & > * {
      flex: 0 0 auto;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & h2 {
			font-size: 20px;
    }

    & p {
      flex: 1 1 auto;
    }

    & a.button {
      margin: 0;

			&:hover,
			&:focus {
				&:before {
					content: '';
					position: absolute;
					top: 4.5em;
					left: var(--Large);
					width: calc(100% - 4rem);
					height: 2px;
					background-color: var(--BlueLight);
					display: none;
				}
			}
    }

		&>a:last-child {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}
  }

	&.text-cards {
		& .card {
			&>a:last-child {
				position: inherit;
			}
		}
	}

  &.top-cards .card {
		&:hover,
		&:focus {
			& img {
				box-shadow: 0 16px 24px 0 rgba(0,0,0,0.6);
			}

			& p {
				&:before {
					width: 100%;
				}
			}

			& a.button {
				background-color: var(--Blue);
				color: var(--White);
			}
		}

    & figure {
      position: relative;
      min-height: 200px;
      margin: 0 0 1em;

      & img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    & h2 {
      margin-top: 0;
    }

		& p {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: -1em;
				left: 0;
				width: 0;
				height: 2px;
				background-color: var(--BlueLight);
				transition: .25s all linear;
			}
		}

		& a.button {
			&:hover,
			&:focus {
				&:before {
					top: 19.5em;
				}
			}
    }
  }

  &.thumb-cards {
    margin: 120px auto var(--xLarge) auto;

    & .card {
      padding: var(--xLarge) var(--Medium);
      margin-bottom: var(--xLarge);
      text-align: center;

      & figure {
        position: absolute;
        top: 0;
        left: 50%;
        width: 96px;
        height: 96px;
        margin: 0;
        overflow: hidden;
        border-radius: 100px;
        transform: translateX(-50%) translateY(-50%);

        & img {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      & h2 {
        width: 100%;
        margin-top: 0;
      }

      & a.button {
        position: absolute;
        bottom: var(--Medium);
        left: 50%;
        width: calc(100% - 2em);
        margin: 0;
        transform: translateX(-50%);
      }
    }
  }

  &.cover-cards .card {
    min-height: 480px;
    padding: var(--xLarge) var(--Medium);
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		&:hover,
		&:focus {
			& figure {
				&::before {
					background-color: rgba(0,0,0,0.8);
				}
			}

			& .cover-cta {
				height: 200px;
				opacity: 1;

				&::before {
					content: '';
					width: 100%;
					height: 2px;
					background-color: var(--GreyLight);
					position: absolute;
					top: 48%;
				}
			}
		}

    & figure {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;

      & img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: block;
        content: '';
        background: linear-gradient(0deg,rgba(0,0,0,0.35) 10%,rgba(0,0,0,0.35));
				transition: all .25s linear;
      }
    }

    & h2 {
      z-index: 5;
			margin: 0;
			color: var(--White);
			font-size: 24px;
			letter-spacing: 1.2px;
			text-align: center;
    }

		& p {
			z-index: 5;
      font-size: 18px;
			text-align: center;
			flex: 0 0 auto;
			max-width: 330px;
			color: var(--White);
    }

		& .cover-cta {
			z-index: 5;
			height: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			transition: all .25s linear;
			opacity: 0;
		}

    &>a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      margin: 0;
      overflow: hidden;
      text-indent: -999px;
      background-color: transparent;
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--xLarge) auto;

  & .card {
    width: 100%;
    margin-right: 0;
  }

  @media(--phone) {
    &.two-columns .card,
    &.four-columns .card,
    &.six-columns .card,
    &.eight-columns .card {
      width: 50%;
    }

    &.three-columns .card,
    &.five-columns .card,
    &.six-columns .card,
    &.seven-columns .card {
      width: 50%;
    }

    &.three-columns .card:nth-of-type(3n),
    &.four-columns .card:nth-of-type(2n),
    &.five-columns .card:nth-of-type(3n),
    &.six-columns .card:nth-of-type(3n),
    &.seven-columns .card:nth-of-type(3n),
    &.eight-columns .card:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media(--tablet) {
		&.three-columns .card {
      width: 33.33%;
    }

    &.four-columns .card {
      width: 25%;
    }

    &.five-columns .card {
      width: 20%;
    }

    &.six-columns .card {
      width: 16.6%;
      width: calc((100% - 5em)/6);
    }

    &.seven-columns .card {
      width: 14.28%;
      width: calc((100% - 6em)/7);
    }

    &.eight-columns .card {
      width: 12.5%;
      width: calc((100% - 7em)/8);
    }

    &.four-columns .card:nth-of-type(4n),
    &.five-columns .card:nth-of-type(5n),
    &.six-columns .card:nth-of-type(6n),
    &.seven-columns .card:nth-of-type(7n),
    &.eight-columns .card:nth-of-type(8n) {
      margin-right: 0;
    }
  }
}

/*-----------------------------------*\
	GRAY CARD SECTION
\*-----------------------------------*/
.card-grid-gray {
	background: linear-gradient(325.53deg, #E9EBED 0%, #FFFFFF 100%);
	padding: 2em 0;

	& .standard {
		overflow: hidden;

		&>h3 {
			margin-top: 0;
			margin-bottom: 0;
			width: fit-content;
			padding-right: 1em;
			position: relative;

			&:before {
				content: '';
				width: 1440px;
				height: 2px;
				background-color: var(--GreyLight);
				position: absolute;
				top: 50%;
				right: -1440px;
				transform: translateY(-50%);
			}
		}
	}

	& section.card-grid {
		margin: var(--Large) auto;
	}
}