/*-----------------------------------*\
	DIVISION REPEATER
\*-----------------------------------*/
section.division {
	overflow: hidden;

	&>h3 {
		background-color: var(--White);
		width: fit-content;
		padding-right: 1em;
		margin-bottom: 2rem;
		position: relative;

		&:before {
			content: '';
			width: 1440px;
			height: 2px;
			background-color: var(--GreyLight);
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			z-index: -1;
		}
	}

	& .contact-repeater {
		display: flex;
		flex-wrap: wrap;

		& article {
			width: 50%;
			margin-bottom: 2em;

			&:nth-child(even) {
				padding-left: 1em;
			}

			&:nth-child(odd) {
				padding-right: 1em;
			}

			& h4 {
				font-family: 'Montserrat', sans-serif;
				text-transform: inherit;
				color: var(--Black);
				font-size: 16px;
				margin-bottom: 0;
			}

			& p {
				margin: .2em 0;
			}

			& a {
				color: var(--BlueLight);
				text-decoration: none;
				font-weight: 300;

				&:hover,
				&:focus {
					color: var(--Blue);
					text-decoration: underline;
				}
			}
		}
	}
}