/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: var(--xLarge) auto;
	position: relative;

	&:hover,
	&:focus {
		& img {
			box-shadow: 0 16px 24px 0 rgba(0,0,0,0.6);
		}

		& h4 {
			&:before {
				width: 100%;
			}
		}

		& a.button {
			background-color: var(--RedDark);
		}
	}

	& h4 {
		position: relative;
		margin-top: 0;
		margin-bottom: 2em;

		&:before {
			content: '';
			position: absolute;
			bottom: -1em;
			left: 0;
			width: 0;
			height: 2px;
			background-color: var(--BlueLight);
			transition: .25s all linear;
		}
	}

  &.image-cover {
    align-items: initial;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

	&>a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

  & > div {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & > *:first-child {
      margin-top: 0;
    }

    & img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  @media(--tablet) {
    flex-wrap: nowrap;

    & > div {
      width: 45%;
    }
  }
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
  @media(--tablet) {
    &.has-image-on-right {
      & > div:first-child {
        order: 2;
      }

      & > div:last-child {
        order: 1;
      }
    }
  }
}
