/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --phone (min-width: 500px);

@custom-media --tablet (min-width: 800px);

@custom-media --laptop (min-width: 1050px);

@custom-media --desktop (min-width: 1200px);

@custom-media --desktoplarge (min-width: 1330px);

div {
  @media(--phone) {
    box-sizing: inherit;
  }

  @media(--tablet) {
    box-sizing: inherit;
  }

  @media(--laptop) {
    box-sizing: inherit;
  }

  @media(--desktop) {
    box-sizing: inherit;
  }

	@media(--desktoplarge) {
    box-sizing: inherit;
  }
}

/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.618;
  color: var(--Black);
  background: var(--White);

  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
	&.submenu-active {
		overflow: hidden;
	}
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
  position: relative;

  & > article {
    margin: var(--xLarge) auto;
		position: relative;

		& nav.anchors {
			display: block;
			width: 90%;
			margin-right: auto;
			margin-left: auto;
			max-width: 800px;
			margin-top: -181px;
			padding-top: 181px;

			@media(--desktoplarge) {
				position: absolute;
				top: 0;
				left: 0;
				padding-left: 2rem;
				max-width: 220px;
			}

			& a {
				display: block;
				color: var(--GreyDark);
				font-family: 'Eurostile', sans-serif;
				font-size: 13px;
				font-weight: 500;
				line-height: 2.15;
				text-align: left;
				text-transform: uppercase;

				@media(--desktoplarge) {
					text-align: right;
				}

				&:hover,
				&:focus {
					color: var(--BlueLight);
				}
			}
		}
  }

	& a.up-button {
		display: block;
		position: sticky;
		bottom: 2em;
		right: 2em;
		height: 40px;
		width: 40px;
		background-color: var(--BlueLight);
		border-radius: 50%;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: 2em;
		z-index: 99;

		& svg {
			width: 40px;
			height: 38px;
			transform: scaleY(-1);
		}
	}
}

article > *:first-child {
  margin-top: 0;
}

article > *:last-child {
  margin-bottom: 0;
}

/*-----------------------------------*\
	CONTACT ARTICLE
\*-----------------------------------*/
body.page-template-contact {
	& main > article {
		margin-top: 4rem;

		@media(--laptop) {
			margin-top: 12em;
		}
	}
}

/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.standard {
  width: 90%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.is-narrow {
  width: 90%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.is-wide {
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.is-extra-wide {
  width: 90%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.is-full-width {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin: var(--Large) auto;
}

section > *:first-child {
  margin-top: 0;
}

section > *:last-child {
  margin-bottom: 0;
}

section hr:last-child {
	margin-bottom: var(--xLarge);
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: all 0.35s linear;
  transform: translateY(-100%);

  &:focus {
    transform: translateY(0);
  }
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
  position: relative;

  & a {
    position: absolute;
    right: 0;
    transform: translateY(-125%);
  }
}

/*-----------------------------------*\
	IFRAME
\*-----------------------------------*/
p iframe {
	width: 100%;
	height: auto;
	min-height: 320px;
}