/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #ffffff;
	--GreyLight: #B0B6BA;
	--Grey: #4B5054;
	--GreyDark: #191F1D;
	--Black: #000000;
	--Red: #A80B06;
	--RedDark: #560300;
	--BlueLight: #35A7FF;
	--Blue: #15609B;
	--BlackGradient: linear-gradient(325.53deg, #4B5054 0%, #191F1D 100%);
	--WhiteGradient: linear-gradient(325.53deg, #E9EBED 0%, #FFFFFF 100%);
}