/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
body.blog {
	& section.intro {
		margin-bottom: 3em;

		& p {
			font-family: 'Eurostile', sans-serif;
			font-size: 45px;
			font-weight: 700;
			line-height: 1.22;
			text-transform: uppercase;
		}
	}

	& article.archive-result {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin-bottom: 3em;
		transition: all .35s linear;

		@media(--phone) {
			margin-bottom: 1em;
		}

		&:hover,
		&:focus {
			& img {
				box-shadow: 0 16px 24px 0 rgba(0,0,0,0.6);
			}

			& button {
				background-color: var(--Blue);
				color: var(--White);
			}
		}

		& header {
			width: 100%;

			@media(--phone) {
				width: 44%;
			}

			& img {
				object-fit: cover;
				height: 320px;
				transition: all .35s linear;
			}
		}

		& .entry-content {
			width: 100%;

			@media(--phone) {
				width: 50%;
			}

			& h2 {
				margin-top: 0;
				font-size: 30px;
			}
		}

		& a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}
	}
}
/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/
.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
	width: 100%;
}
.infinite-scroll {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.load-more {
	display: none;
}