/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& main {
		background-image: linear-gradient(325.53deg, var(--Grey) 0%, var(--GreyDark) 100%);
		overflow-x: hidden;

		&>article {
			margin: 0;
			padding: 14em 1em 4em;

			& h1 {
				color: var(--White);
				text-align: center;
				font-size: 40px;

				@media(--tablet) {
					font-size: 60px;
				}

				&:before {
					content: url('../images/ameriti-logo.svg');
					position: absolute;
					top: 0;
					left: 50%;
					width: 1220px;
					height: 340px;
					transform: translate(-50%, 30%);
					display: none;

					@media(--tablet) {
						display: block;
					}
				}
			}
		}
	}
}