/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {
	& .gradient-dark {
		background-image: linear-gradient(325.53deg,var(--Grey),var(--GreyDark));

		& header.post-head {
			min-height: inherit;
			background-image: none;
			padding: 132px 0 1rem;

			@media(--tablet) {
				min-height: 800px;
				padding: 132px 0 68px;
			}

			&>div {
				&:before {
					display: none;
				}
			}

			& h1 {
				z-index: 5;
				padding-left: 0;
				margin-left: 2rem;

				@media(--tablet) {
					margin-left: 35%;
				}

				&:before {
					display: none;
				}
			}

			& a.button {
				z-index: 5;
				position: relative;
				margin-top: 2em;
				margin-left: 2rem;

				@media(--tablet) {
					margin-left: 35%;
				}
			}

			& img {
				width: 90%;
				height: 430px;
				left: 0;
				max-width: 960px;

				@media(--tablet) {
					width: 66%;
					height: 600px;
				}
			}

			& .overlay {
				max-width: 960px;
				width: 90%;
				height: 430px;
				left: 0;

				@media(--tablet) {
					width: 66%;
					height: 600px;
				}
			}
		}
	}

	& .card-grid-gray {
		& h2 {
			font-size: 30px;
		}
	}
}