/*-----------------------------------*\
	SEARCH RESULTS
\*-----------------------------------*/
body.search-results {
	& header.post-head {
		min-height: 420px;

		&>div {
			&:before {
				transform: translate(-5%,-100%);
			}
		}
	}

	& article {
		position: relative;

		&:hover,
		&:focus {
			& .entry-content {
				& p {
					border-top: 2px solid var(--BlueLight);
				}

				& button {
					background-color: var(--Blue);
					color: var(--White);
				}
			}
		}

		& header {
			& h3 {
				font-size: 20px;
			}
		}

		& .entry-content {
			margin: var(--Medium) auto;

			& p {
				padding-top: 1em;
				border-top: 2px solid transparent;
				transition: .35s all linear;
			}
		}

		& a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}
	}
}