/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: transparent;
	box-shadow: none;
	border-bottom: none;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	transition: all 0.25s ease-in-out;

	&.nav-up {
		top: -140px;
	}

	&.nav-down {
		background-color: var(--GreyDark);
		box-shadow: 0 6px 12px 0 rgba(25,31,29,.5);
		border-bottom: 2px solid var(--BlueLight);
	}

	& nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		align-items: center;
		margin: 0 auto;
		padding: 1.5em 1em;
		width: 100%;
		max-width: 1440px;

		@media(--desktop) {
			width: 90vw;
		}

		&>a {
			margin-right: auto;

			&.search-active {
				opacity: 0;
				@media(--tablet) {
					opacity: 1;
				}
			}

			& img {
				width: 145px;
				height: 50px;

				@media(--desktop) {
					width: 200px;
					height: 60px;
				}
			}
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;
			position: fixed;
			top: 0;
			right: -350px;
			width: 320px;
			height: 100%;
			background-color: #E5E9EC;
			box-shadow: -6px 0 12px 0 rgba(25,31,29,0.5);
			padding-top: 80px;
			transition: .25s all linear;

			@media(--desktop) {
				position: inherit;
				height: inherit;
				flex-wrap: inherit;
				align-content: inherit;
				background-color: inherit;
				box-shadow: inherit;
				padding-top: inherit;
				width: inherit;
			}

			&.is-active {
				right: 0;
			}

			&.search-active {
    		visibility: hidden;
				opacity: 0;
			}

			& li {
				background-image: none;
				padding: var(--Small) 40px;
				width: 100%;

				@media(--desktop) {
					padding: var(--Small) var(--Medium);
					width: inherit;
				}

				&.current-menu-item {
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 40px;
						height: 2px;
						width: 55px;
						background-color: var(--BlueLight);

						@media(--desktop) {
							left: calc(50% - 27.5px);
						}
					}
				}

				&.menu-item-has-children {
					&.current-menu-parent {
						&:after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 40px;
							height: 2px;
							width: 55px;
							background-color: var(--BlueLight);

							@media(--desktop) {
								left: calc(50% - 27.5px - .75rem);
							}
						}
					}

					&.is-active {
						& .sub-menu {
							opacity: 1;
							height: auto;
							visibility: visible;
						}
					}

					&>a {
						background-position: center right;
						background-size: 1.5rem;
						background-repeat: no-repeat;
						background-image: url(../images/select_arrow_black.svg);
						padding: var(--Small) 1.5rem var(--Small) 0;

						@media(--desktop) {
							background-image: url(../images/select_arrow.svg);
						}

						&:hover,
						&:focus {
							&:after {
								left: 40px;

								@media(--desktop) {
									left: calc(50% - 27.5px - .75rem);
								}
							}
						}
					}
				}

				& a {
					color: var(--Black);
					font-family: 'Eurostile', sans-serif;
					font-size: 16px;
					font-weight: 700;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 1.78px;
					line-height: 1.75;

					@media(--desktop) {
						color: var(--White);
					}

					&:hover,
					&:focus {
						&:after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 40px;
							height: 2px;
							width: 55px;
							background-color: var(--BlueLight);

							@media(--desktop) {
								left: calc(50% - 27.5px);
							}
						}
					}
				}

				& .sub-menu {
					display: none;
					position: static;
					background-color: #e5e9ec;
					box-shadow: none;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					padding: 0;
					opacity: 0;
					height: 0;
					visibility: hidden;

					@media(--desktop) {
						position: fixed;
						top: 85px;
						left: calc(50% - 540px);
						background-color: var(--White);
						box-shadow: 0 16px 24px 0 rgba(0,0,0,0.6);
						width: 1080px;
						padding: 10px 15px;
						height: auto;
					}

					& li {
						width: 100%;
						padding: .8em 1em;
						margin: 0;

						@media(--desktop) {
							width: 33.33%;
							padding: 20px 25px;
						}

						&.current-menu-item {
							&:after {
								display: none;
							}

							& a {
								& .menu-item-description {
									&:after {
										display: block;
									}
								}

								& p {
									color: var(--BlueLight);
								}
							}
						}

						& a {
							color: var(--Black);
							font-size: 14px;
							letter-spacing: 1px;
							line-height: 1.5;
							display: flex;
							flex-wrap: wrap;
							width: 100%;

							@media(--desktop) {
								font-size: 20px;
							}

							&:hover,
							&:focus {
								&:after {
									display: none;
								}

								& .menu-item-description {
									&:after {
										display: block;
									}
								}

								& p {
									color: var(--BlueLight);
								}
							}

							& .menu-item-description {
								position: relative;
								font-family: 'Montserrat', sans-serif;
    						font-size: 14px;
								font-weight: 300;
								text-transform: none;
								margin: 20px 0;
								display: none;

								@media(--desktop) {
									display: block;
								}

								&:after {
									content: '';
									display: none;
									position: absolute;
									top: -12px;
									left: 0;
									width: 100%;
									height: 2px;
									background-color: var(--BlueLight);
								}
							}

							& p {
								font-family: 'Eurostile', sans-serif;
								font-size: 13px;
								font-weight: 700;
								line-height: 2;
								letter-spacing: 0.33px;
								color: var(--GreyLight);
								display: none;

								@media(--desktop) {
									display: block;
								}
							}
						}
					}
				}
			}
		}

		&>button {
			padding: .75rem 1rem;

			&.activate-search {
				background-color: transparent;

				&.search-active {
					visibility: hidden;
					opacity: 0;
				}

				& svg {
					width: 21px;
					height: 21px;
					fill: var(--White);
				}
			}

			&.activate-menu {
				background-color: transparent;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				color: var(--White);
				font-family: 'Eurostile', sans-serif;
				letter-spacing: 1.78px;
				padding-right: 0;

				@media(--desktop) {
					display: none;
				}

				&.search-active {
					visibility: hidden;
					opacity: 0;
				}

				& svg {
					width: 21px;
					height: 21px;
					fill: var(--White);
					margin-right: 0.5em;
				}
			}

			&.close-menu {
				background-color: transparent;
				color: var(--GreyLight);
				font-family: 'Eurostile', sans-serif;
				letter-spacing: 1.78px;
				position: absolute;
				top: 2rem;
				right: -120px;
				z-index: -1;
				visibility: hidden;

				&.is-active {
					right: 0;
					z-index: 2;
					visibility: visible;
				}
			}
		}

		&>div.search-form {
			position: absolute;
			width: 90%;
			height: 115px;
			display: flex;
			align-items: center;
			visibility: hidden;
			opacity: 0;
			transition: all .5s linear;

			@media(--tablet) {
				width: 50%;
			}

			&.is-active {
				visibility: visible;
				opacity: 1;
			}

			& form {
				width: 100%;

				& label {
					display: none;
				}

				& input {
					width: 100%;
					border-bottom: 2px solid var(--BlueLight);
					padding: .75em 2em .75em 1em;

					&::placeholder {
						color: var(--White);
						opacity: 1;
					}
				}

				& button {
					position: absolute;
					top: 50%;
					right: 0;
					background-color: transparent;
					padding: .6rem 1rem;
					border-radius: 50px;
					transform: translateY(-50%);

					& svg {
						width: 21px;
						height: 21px;
						fill: var(--BlueLight);
					}
				}
			}
		}
	}
}